:root {
    --primary-container: #FFDAD7;
    --primary: #904A46;
    --actionBar-margin: 2.5vh;
    --onPrimary: #3B0909;
}

@font-face {
    font-family: "Google Sans", sans-serif;
    src: url("./res/GoogleSans-Regular.ttf");
}

html {
    font-family: "Google Sans", sans-serif !important;
    margin: 0;
    background-color: var(--primary-container);
    min-height: 100vh;
}

body {
    margin: 0;
    min-height: 100vh;
}

#actionBar, #saveBar {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;

    transition: all ease-out 0.25s;
    background-color: var(--primary);

    height: 93vh;
    bottom: 2.5vh;
    width: 250px;
    border-radius: 20px;

    -webkit-box-shadow: 2px 7px 16px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 7px 16px 2px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 7px 16px 2px rgba(0, 0, 0, 0.55);
}

#actionBar {
    justify-content: space-between;
    left: var(--actionBar-margin);
}

#saveBar {
    width: 300px;
    overflow: auto;
    height: calc(93vh - 25px);
    transition: right ease-out 0.3s;
    right: -300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
}

#saveBar div.selected {
    width: 220px;
    height: 46px;
    border: 3px solid #6f0303;
}

#saveBar div {
    transition: all ease-out 0.25s;
    margin-bottom: 15px;
    width: 224px;
    border-radius: 17px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 13px;
    cursor: pointer;
}

#saveBar div:hover {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 25px;
}

#saveBar div img {
    transition: all ease-out 0.25s;
    width: 30px;
    padding: 4px;
    border-radius: 13px;
    background-color: rgba(70, 10, 10, 0.6);
}

#saveBar div img:hover {
    border-radius: 18px;
    background-color: rgba(70, 10, 10, 0.5);
}

#saveBar div p {
    font-size: 1.2em;
}

#saveBar.open {
    right: var(--actionBar-margin) !important;
}

#saveBar iframe {
    border: 0;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
}

#iconBricks {
    margin-top: 25px;
    display: grid;
    width: 200px;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(auto-fill, 60px);
    gap: calc((200px - 180px) / 2);
}

#iconBricks img {
    transition: all ease-out 0.15s;

    border-radius: 7px;
}

#iconBricks .noSelected {
    width: 60px;
    background-color: var(--primary-container);
}

#iconBricks .noSelected:hover {
    border-radius: 12px;
    background-color: #ce6d6d;
}

#iconBricks .selected {
    border-radius: 12px;
    width: 58px;
    background-color: #bd4e4e;
    border: 1px solid #460a0a;
}

#buttons {
    width: 210px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#buttons div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center
}

#buttons div label {
    color: #FFFFFF;
    font-size: 1.1rem;
}

#buttons div input[type=text] {
    color: var(--onPrimary);
    background: rgba(255, 255, 255, 0.4);
    width: 70%;
    font-size: 1.1rem;
}

#buttons div input[type=number] {
    margin-top: 25px;
    padding: 0 0;
    width: 30%;
    text-align: center;
}

#buttons div input[type=number]:hover {
    border-radius: 13px;

}

#buttons input[type=button], #buttons input[type=number] {
    transition: all ease-out 0.25s;
    width: 100%;
    padding: 5px 0;
    border-radius: 10px;
    border: none;
    height: 36px;
    font-size: 1.3rem;
    color: var(--onPrimary);
    background-color: #FFF;

    margin-top: 10px;
}

#buttons input[type=button].selected {
    background-color: #bd4e4e !important;
    color: var(--onPrimary) !important;
    border: 1px solid #460a0a !important;
    border-radius: 17px !important;
    /*height: ;*/
    /*width: calc(100% - 2px) !important;*/
}


#buttons input[type=button]:hover, #buttons input[type=number]:hover {
    background-color: #FFB3AD;
    color: #904A46;
    border-radius: 17px;
}

#container {
    transition: all ease-out 0.25s;
    margin: 3vh 0 3vh calc(250px + var(--actionBar-margin) * 2);
    position: sticky;
    /*left: calc(250px + var(--actionBar-margin) * 2);*/
    padding-right: calc(var(--actionBar-margin) * 2);
    bottom: 3vh;


    display: grid;
    grid-template-columns: repeat(auto-fill, 52.6px);
    grid-template-rows: repeat(auto-fill, 52.6px);
}

#container img {
    transition: all ease-out 0.15s;
    width: 51px;
    border: #3B0909 1px solid
}

#container img.primarySelected {
    background-color: #a60f0f !important;
}

#container img:hover {
    background-color: #ce6d6d !important;
}

#container img.hovered {
    background-color: #ffa8a8;
}
